.container.theme-showcase(role='main')
	.page-header
			h1 Registered sensors
	if items.length !== 0
		table.table.table-striped
			thead
				tr
					th #
					th IP Address
					th Port
					th Description
					th Pin
					th Mesure
					th Actions
			tbody
				each sensor in items
					tr
						td 
							+icon-info("transfer")
							//+icon-info("alert")
							//+icon-success("signal")
						td 
							| #{sensor.ip}
						td 
							| #{sensor.port}
						td 
							| #{sensor.description}
						td 
							| #{sensor.pin}
						td 
							| #{sensor.mesure}
						td
							a.btn.btn-danger(class="glyphicon glyphicon-trash",href="/settings/delete/#{sensor.id}")
							&nbsp;
							a.btn.btn-info(class="glyphicon glyphicon-cog",href="/settings/#{sensor.id}")
	else
				p.lead No sensor registered