.container.theme-showcase(role='main')
	.page-header
			h1 Registered sensors
	if items.length !== 0
		table.table.table-striped
			thead
				tr
					th #
					th IP Address
					th Port
					th Description
					th Pin
					th Mesure
					th Actions
			tbody
				each sensor in items
					tr
						td Blah
						td 
							| #{sensor.ip}
						td 
							| #{sensor.port}
						td 
							| #{sensor.description}
						td 
							| #{sensor.pin}
						td 
							| #{sensor.mesure}
						td
							+icon-success("plus")
							&nbsp;
							+icon-danger("trash")
							&nbsp;
							+icon-info("cog")
	else
				p.lead No sensor registered